.MidiAnalysis {
  display: flex;
  height:100%;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  
  background-color:gray;
  
}
.panel-heading {
  margin: 10px;
}
.rowC{
  margin: 10px;
  display:flex;
  flex-direction:row;
}
